body
{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

@font-face {
    font-family: priceFont;
    src: url(fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf);
}


/*Main styles for webpages and index.html*/
.header_info
{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    width: 100%;
    height: max-content;
    background-color: black;
    color: white;
}
.header_navigation li
{
    display: inline;
}


.advetising_section
{
    margin-top: 10px;
    margin-bottom: 30px;
    width: 100%;
    overflow: hidden;
    height: max-content;
}


.price_section
{
    background:linear-gradient(to bottom, #c31432, #240b36);
    width: 200px;
    height: max-content;
    font-size: 30px;
    font-family: priceFont, sans-serif;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.order_button
{
    width: 200px;
    height: max-content;
    background: linear-gradient(to top, #ff416c, #ff4b2b);
    font-size: 25px;
    border-radius: 10px;
    color: white;
    padding: 10px;
}

.footer
{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    background-color: black;
    width: 100%;
    height: max-content;
    color: white;
}
.data_first
{
    margin-left: 10px;
    margin-top: 10px;
}

ol
{
list-style-type: none;
}
a
{
color: white;
text-decoration: none;
}


/*Styles for orderCheck.html*/

.order_tracking
{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top: 60px;
    margin-bottom: 60px;
    border: 10px black;

}

#order_input
{
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

/*The new code - how to hide spin in the number input*/
#order_input::-webkit-outer-spin-button, #order_input::-webkit-inner-spin-button
{
    -webkit-appearance: none;
} 

#order_button
{
    font-size: 15px;
    cursor: pointer;
}